**/__pycache__
**/.pytest_cache
config.py
.env
.idea
**/*.drawio
.ruff_cache
**/*.drawio.*
/bootstrap_data
suggested_structure.txt
.gitignore
alembic.ini
.pytest_cache/
*.sqlite3
test.db
.coverage
htmlcov/
alembic/__pycache__/
alembic/.mypy_cache/
alembic/versions/__pycache__/
.env.*
*.envrc
/bootstrap_data/*
